<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyKingdom Server</title>
</head>

<body>
    <h1>Hello World!</h1>
    <form method="get" action="/admin/get-product">
        <label>Access Token</label>
        <input type="text" name="accessToken">
        <br>
        <label>Id</label>
        <input type="text" name="productId">
        <button type="submit">Submit</button>
    </form>
</body>

</html>